/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Garamond, serif;
}

/* Header */
header {
    background: #48c6ef;
    color: white;
    text-align: center;
    padding: 20px;
    flex-shrink: 0;
}

/* Navigation bar */
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-shrink: 0;
}

nav h1 {
    margin: 0;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;

}

nav a:hover {
    margin-left: 20px;
    font-size: 1.1rem;
    text-decoration: underline;
}

/* Main content container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
    background-image: url("background.png");
}

/* Biodata Table styling */
table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    background-color: rgba(186, 239, 250, 0.415);
    text-align: left;
}

/* Hobbies styling */
.hobby {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #48c6ef;
    border-radius: 5px;
    background-color: rgba(186, 239, 250, 0.415);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Campus life section styling */
.event, .video, .gallery {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #48c6ef;
    border-radius: 5px;
    background-color: rgba(186, 239, 250, 0.415);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Gallery styling */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: 150px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #48c6ef;
}

/* Video styling */
iframe {
    width: 100%;
    height: 315px;
    border: none;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    flex-shrink: 0;
}
